#cont1 {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  #cont2 {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  #cont2 > div {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 200px;
  }

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  p {
    color: #666;
    font-size: 14px;
  }
  #btn {
    background-color: aqua;
    border: none;
    padding: 10px;
    border-radius: 10px;
  }